#ddimagetabs{float:left;width:235px}
#service-offer{display:block;float:left;width:100%;padding:5px 0 15px}
.readmore-border{clear:both;display:block;float:left;width:100%;border-bottom:1px solid #e4e4e4;margin:0 0 5px}
.service-readmore,.service-readmore:link,.service-readmore:visited,.service-readmore:hover{border:1px solid #919191;border-bottom:0;float:right;text-align:center;font-size:10px;font-family:Tahoma, Verdana, Helvetica, sans-serif;color:#222;width:65px;height:16px;text-decoration:none;margin:0 10px 0 0;padding:1px 5px}
.service-readmore:hover{color:#FF5E00;border-color:#FF5E00}
.service-offering{display:block;float:left;width:745px;background:url(../images/box_bg.jpg) top left repeat-y;margin:0;padding:0 5px}
#hometabs{width:217px;float:left}
#hometabs ul{background:url(../images/saprator.jpg) center right no-repeat;position:absolute;width:251px;min-height:200px;float:left;list-style-type:none;margin:0;padding:0}
#hometabs li{float:left;white-space:nowrap;margin:0!important}
#hometabs li a:link,#hometabs li a:visited,#hometabs li a:hover,#hometabs li a.current:link{float:left;width:229px;overflow:hidden;font-size:15px;color:#383838;background:url(../images/tab_bg.jpg) bottom left no-repeat!important;text-decoration:none;cursor:pointer;padding:8px 0 10px 15px !important}
#hometabs li a:hover,#hometabs li a.current:link,#hometabs li a.current:visited,#hometabs li a.current:hover{background:url(../images/tab_bg_hover.gif) top right no-repeat!important;color:#2F6BB3!important;margin:0;padding:0}
.serviceoffer-right{float:left;width:493px;min-height:250px;padding:10px 0 10px 265px}
.tabcontent{float:left;display:block;width:470px}
.tabcontent ul li{line-height:32px!important}
#sc1 img{float:right;border:solid 1px #2e91d4;margin-top:10px}
#sc2 img{float:right;border:solid 1px #fd7801;margin-top:10px}
#sc3 img{float:right;border:solid 1px #ebad04;margin-top:10px}
#sc4 img{float:right;border:solid 1px #79d2f4;margin-top:10px}
#sc1 ul{list-style:none;float:left;width:270px;margin:0;padding:0}
#sc1 ul li a{font-weight:700;display:block;color:#2f6bb3;background:url(../images/tab_1.jpg) 0 8px no-repeat;text-decoration:none;padding:0 0 0 14px}
#sc2 ul li a{font-weight:700;display:block;color:#ff7c00;background:url(../images/tab2.jpg) 0 8px no-repeat;text-decoration:none;padding:0 0 0 14px}
#sc3 ul li a{font-weight:700;display:block;color:#eca100;background:url(../images/tab3.jpg) 0 8px no-repeat;text-decoration:none;padding:0 0 0 14px}
#sc4 ul li a{font-weight:700;display:block;color:#47cbff;background:url(../images/tab4.jpg) 0 8px no-repeat;text-decoration:none;padding:0 0 0 14px}
#sc1,#sc2,#sc3,#sc4{float:left;display:block}
#sc1 ul li,#sc2 ul li,#sc3 ul li,#sc4 ul li{font:normal 12px/24px Arial, Helvetica, sans-serif;color:#333;border-bottom:solid 1px #ddd}
#sc1 ul li a:hover,#sc2 ul li a:hover,#sc3 ul li a:hover,#sc4 ul li a:hover{background:url(../images/hov_arro.jpg) 0 8px no-repeat;color:#333;text-decoration:none}
#sc2 ul,#sc3 ul,#sc4 ul{list-style:none;float:left;width:270px;margin:0;padding:0 30px 0 0}